div.profHeader Basic Information
	a(href="#edit-basicinfo", data-transition="slide")
		span.edit 
		| Edit

div.fldRow
	div.fldLbl Code Name
	div.fldTxt #{details.nickname}
	div.clear

div.fldRow
	div.fldLbl Birthdate
	div.fldTxt #{details.birthdate}
	div.clear

div.fldRow
	div.fldLbl Age
	div.fldTxt #{details.age}
	div.clear

div.fldRow
	div.fldLbl Gender
	div.fldTxt.properCase #{details.gender}
	div.clear

div.fldRow
	div.fldLbl Country
	div.fldTxt #{details.country_name}
	div.clear

div.fldRow
	div.fldLbl Location
	div.fldTxt #{details.location}
	div.clear

div.fldRow
	div.fldLbl Civil Status
	div.fldTxt #{details.civilstatus}
	div.clear

div.fldRow
	div.fldLbl Height
	div.fldTxt #{details.height} CM
	div.clear

div.fldRow
	div.fldLbl Weight
	div.fldTxt #{details.weight} KG
	div.clear

div.fldRow
	div.fldLbl Citizenship
	div.fldTxt #{details.citizenship} 
	div.clear

div.fldRow
	div.fldLbl Religion
	div.fldTxt2 #{details.religion} 
	div.clear

div.divide